@model IEnumerable<Nhom15_WebVanPhongPham.Models.SanPham>


        @*@using (Html.BeginForm("Index", "Home"))
        {*@
            <form method="post" action="/">
                <div class="box_search">
                    @*<input placeholder="Tìm kiếm nước hoa hoặc nhãn hiệu" name="keyword" />*@
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input", @placeholder = "Tìm kiếm nước hoa hoặc nhãn hiệu" })
                    <button class="icon_search" type="submit" ><i class="fas fa-search "></i></button>
                </div>
            </form>
        @*  *@}

