@{
    ViewBag.Title = "Home Page";
}
<link href="~/wwwroot/css/index.css" rel="stylesheet" />
<section id="show">
    <div class="container">
        <div id="sliderFrame">
            <div id="slider">
                <img src="~/wwwroot/Anh_Icon/slider_1.jpg" alt="Welcome to Honghaonline.com" />
                <img src="~/wwwroot/Anh_Icon/slider_2.jpg" alt="" />
                <img src="~/wwwroot/Anh_Icon/slider_4.jpg" alt="" />
            </div>
            <div id="htmlcaption" style="display: none;">
                <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>