@charset "utf-8";
/* CSS Document */

/*//header*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    background-color: #ECE8E8;
    padding: 0;
}

.header {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.top {
    width: 100%;
    height: 35px;
    background-color: #ed1c24;
}

.header_right {
    width: 14%;
    height: 100%;
    /* background-color: aquamarine; */
    line-height: 30px;
    margin-left: 86%;
    color: #000000;
}

#menu_login ul {
    background: #ed1c24;
    width: 150px;
    padding: 0;
    color: white;
    list-style-type: none;
    text-align: center;
}

#menu_login li {
    width: 150px;
    height: 35px;
    line-height: 35px;
    
}

    #menu_login li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;
    }

    #menu_login li:hover {
        background:#ff6a00;
        
    }
#menu_login ul li {
    position: relative;
}

#menu_login .sub-menu {
    position: absolute;
    top: 35px;
    display: none;
    text-align: center;
}

#menu_login li:hover .sub-menu {
    display: block;
    background: #ed1c24;
    border-bottom: 1px solid #e8e8e8;
}

.fa-user {
    float: left;
    text-align: center;
    margin-top: 10px;
}

.header_midle {
    width: 100%;
    height: 100px;
}

.header_brand-logo {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    float: left;
}

.logo_img {
    width: 100%;
    height: 100%;
}

.header_navbar-search {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ed1c24;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 45%;
    float: left;
}

.box_search {
    width: 80%;
    float: left;
}

    .box_search input {
        background-color: transparent;
        box-shadow: none;
        /* padding: 20px; */
        border: none;
        outline: none;
        line-height: 70px;
        width: 100%;
    }

.icon_search {
    width: 15%;
    height: 80%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 6px;
    background-color: #ed1c24;
    border-radius: 60px;
}

.cart {
    width: 10%;
    height: 40%;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid #ed1c24;
    text-align: center;
}

.cart_child {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    color: #ed1c24;
}

.header_right-nav--link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.header_menu {
    width: 100%;
    height: 60px;
    background-color: #ed1c24;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.header_navbar {
    list-style: none;
    width: 100%;
    display: flex;
    margin-left: 10%;
    padding-left: 17px;
}

.header_navbar-item {
    line-height: 60px;
    color: #FFFFFF;
}

.header_navbar-item--link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 15px;
}

    .header_navbar-item--link:hover {
        background: white;
        color: #000000;
        text-decoration: none;
    }


/*footer/*/

.bg_gray{
    width:100%;
    height: 100%;
    background: #999999;
    align-content: center;
    padding: 10px;
}
.cot {
    width: 30%;
    height: auto;
    padding: 5px;
    margin: 10px;
    border-left: 3px #000000;
    float: left;
}
.img_logo{
    width: 150px;
    height: 150px;
}


