<link href="~/wwwroot/css/index.css" rel="stylesheet" />
<div class="bg_gray">
    <div class="cot">
        <img src="~/wwwroot/Anh_Icon/logo.png" class="img_logo" />
        <p><b>Website bán hàng trực tuyến của công ty cổ phần Văn phòng phẩm Hồng Hà</b></p>
        <p>ĐKKD 0100100216 do Sở KH&ĐT TP. Hà Nội cấp ngày 28/12/2005</p>
        <p>Địa chỉ: Tầng 1, TTTM 25 Lý Thường Kiệt, Phường Phan Chu Trinh, Quận Hoàn Kiếm, Thành phố Hà Nội.</p>
        <p>Điện thoại: 024 2246 2003</p>
        <p>  Email: dvkh@vpphongha.com.vn</p>
    </div>
    <div class="cot">
        <h3>Chính sách bán hàng</h3>
        <p>Giới Thiệu</p>
        <p>Hướng dẫn</p>
        <p>Đổi trả</p>
        <p>Cam kết chính hãng</p>
    </div>
    <div class="cot">
        <h3>Hệ thống cửa hàng</h3>
        <p>
            <b>Lý Thường Kiệt</b><br />
            25 Lý Thường Kiệt, Hoàn Kiếm, TP. Hà Nội<br />
            Điện thoại: 024.2243.2603<br />
        </p>
        <p>
            <b>Vincom Long Biên</b><br />
            Tầng 1, TTTM Vincom Center Long Biên, P. Phúc Lợi, Q. Long Biên, TP. Hà Nội<br />
            Điện thoại: 0243.657.4543<br />
        </p>
        <p>
            <b>Phạm Ngọc Thạch</b><br />
            Kiot 14-15 B10 Phạm Ngọc Thạch, P.Kim Liên, Q. Đống Đa, TP. Hà Nội<br />
            Điện thoại:  024.6684.6854<br />
        </p>
    </div>
</div>


